
.login-form {
    width: 72%;
    display: block;
    margin: 4% auto;
    height: 324px;
    background-color: #673AB6;
    padding: 20px;
    border: 1px solid #673AB6;
    border-radius: 10px;
}
.input-label {
  font-weight: bold;
  font-size: 20px;
}
.form-input, .password-input {
    width: 112%;
    display: block;
}
button.login-button {
    color: #FFFFFF;
    background-color: #FE5252;
    width: 45%;
    display: block;
    border-color: #FE5252;
    margin: 0px auto;
}
.signuplink a {
    color: #FEC007;
    margin-left: 35px;
    font-size: 19px;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    color: #fcfcfc;
}
.firstinput {
    margin-top: 28px;
}
.logincontainer{
background: #e53935;  /* fallback for old browsers */
background: -webkit-linear-gradient(left, #e35d5b, #e53935);
background: -moz-linear-gradient(left, #e35d5b, #e53935);
background: -o-linear-gradient(left, #e35d5b, #e53935);
background: linear-gradient(to right, #e35d5b, #e53935);
height: 800px;
}
