
.image-banner{
  width: 100%;
  height: 150px;
  background-color: #2980b9;
  margin-bottom: 25px;
  margin-top: 0;
}
.restaurantlistcontainer {
    margin-top: 40px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    width: 100%;
    height: 300px;
}
span.glyphicon.glyphicon-phone {
    color: #16a085;
}
p.phone {
    display: inline-block;
    width: 45%;
    text-align: left;
}
p.rating {
    width: 45%;
    text-align: right;
    display: inline-block;
}

.banner {
  height: 300px;
}

.banner-info {
    width: 33%;
    display: inline-block;
    margin-top: 8%;
    margin-left: 2%;
}

h3.banner-title {
    margin-left: 9%;
    font-size: 28px;
}

p.banner-address {
    font-size: 19px;
}

p.banner-ratings {
    font-size: 22px;
    margin-left: 23%;
}

.banner-news {
    width: 40%;
    display: inline-block;
    text-align: right;
    margin-left: 9%;
}
span.glyphicon.glyphicon-star {
    color: gold;
}
.dish {
  color: #2980b9;
  font-weight: 600;
}
.menu {
    margin-top: 26px;
    margin-left: 4%;
    margin-right: -4%;
    display: block;
}

.panel.panel-default {
    width: 40%;
    display: inline-block;
    margin-left: 3%;
}
.delivery-time {
    width: 100%;
    background-color: #ecf0f1;
    color: #2c3e50;
    font-weight: 600;
    height: 3%;
    padding: 2%;
    margin-top: 25px;
}

.thumbnail img {
    width: 300px;
    height: 182px;
}
.go-home {
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
p.type, p.price {
    width: 45%;
    display: inline-block;
}
@media screen and (min-width: 769px) and (max-width: 1149px){
    .navbar-right {
        float: right!important;
        margin-right: -15px;
        width: 37%;
    }
    .form-group {
        width: 99%;
    }
    .navbar-form.navbar-left {
        width: 50%;
    }
    .navbar-header {
        width: 16%;
    }
    .container {
        width: 97%;
    }
    nav.navbar.navbar-default {
        margin-bottom: 0;
        background-color: #e74c3c;
        border-color: #e74c3c;
        color: white;
        width: 100%;
        display: inline-block;
    }
    .navbar-form.navbar-left {
        width: 50%;
    }
    .navbar-header{
        width: 14%;
    }
    .cards {
        width: 45%;
        margin-left: 23px;
    }
    .thumbnail img {
        width: 100%;
        height: 182px;
    }
    input.app-search-bar.form-control {
        width: 73%;
    }
}
@media screen and (min-width: 481px) and (max-width: 700px) {
   .image-banner{
       display: none;
   }
   .form-group {
       display: inline-flex;
   }
   input.app-search-bar.form-control {
    width: 75%;
    }
   .navbar-header {
    width: 100%;
    }
    .navbar-form.navbar-left {
    width: 100%;
    }
    .restaurntcardimage.thumbnail {
    margin-top: 25px;
    /* width: 94%; */
    }
    .restaurntcardimage img {
        width: 100%;
    }
    p.restaurantcardtitle {
    font-size: 19px;
    width: 45%;
    display: inline-block;
    }
    p.restaurantcardphone {
    width: 45%;
    display: inline-block;
    font-size: 18px;
    }

}


@media screen and (max-width: 480px) {
  .banner-info {
      margin-top: 51%;
      width: 100%;
    }
    .banner-news{
      display: none;
    }

    h3.banner-title {
    margin-left: 2%;
    font-size: 23px;
    }

    p.banner-address {
      font-size: 13px;
      width: 45%;
      display: inline-block;

    }
    p.banner-ratings {
    font-size: 14px;
    margin-left: 23%;
    display: inline-block;
  }
  .panel.panel-default {
    width: 94%;
    /* display: inline-block; */
    margin-left: 6%;
    /* margin: 0 auto; */
}
  .menu {
    /* margin-top: 15px; */
    width: 95%;
    display: block;
    margin: 15px auto;
  }
  .menu-item {
    color: #2980b9;
  }
  .delivery-time {
      width: 100%;
      background-color: #ecf0f1;
      color: #2c3e50;
      font-weight: 600;
      height: 5%;
      padding: 5%;
      magin-top: 25px;
  }
  .thumbnail img {
    width: 100%;
  }
  .image-banner{
    display: none;
  }
  .navbar-header {
    width: 100%;
}
  .navbar-form.navbar-left {
    width: 100%;
  }
  .glyphicon-search {
    display: none;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fcfcfc;
  }
    .thumbnail {
        width: 100%;
    }
}
