.logo {
    width: 100%;
    text-align: center;
    font-size: 72px;
    margin-top: 0px;
    font-family: 'Mitr', sans-serif;
}
.firstletter {
    color: #FFFFFF
}
.secondletter {
    color: #FEC007;
}
.thirdletter {
    color: #4CAE50;
}
.fourthletter {
    color: #673AB7;
}
.logo-container{
    background-color: #FE5252;
}
@media only screen and (max-width: 47500px) and (min-width: 320px){
    .logo{
        font-size: 30px;
        opacity: .9
    }
}