.logo {
    width: 100%;
    text-align: center;
    font-size: 72px;
}
.firstletter {
    color: #FFFFFF
}
.secondletter {
    color: #FEC007;
}
.thirdletter {
    color: #4CAE50;
}
.fourthletter {
    color: #673AB7;
}