body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background: #e53935;  /* fallback for old browsers */
background: -webkit-linear-gradient(left, #e35d5b, #e53935);
background: -moz-linear-gradient(left, #e35d5b, #e53935);
background: -o-linear-gradient(left, #e35d5b, #e53935);
background: linear-gradient(to right, #e35d5b, #e53935);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Source Sans Pro', sans-serif;
}
